a.active{
    border: 1px solid #23BE0A;
    color: #23BE0A;
    padding: 2px 8px 2px 8px;
    border-radius: 6px;
}
a.active:hover{
    background: #23BE0A;
    color: white;
    transition: 0.25s;
}